@model int
<div class="text-center">
    <h1 class="text-info pt-4">Leziz yemişler geliyo</h1>
    <p class="pb-3">Yeme de yanında yat</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/order.PNG" width="80%" />
</div>